.app {
  width: 100%;
  height: 100%;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #0082FB;
}

/* Base scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  transition: width 0.3s, height 0.3s;
}

/* Scrollbar on hover of the container */
.scroll-container:hover::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Optional: scrollbar track & thumb styles */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
}

/* Hide or blend the scrollbar corner */
::-webkit-scrollbar-corner {
  background: transparent;
}
